<h1>Sync validators example</h1>
<form [formGroup]="form">
    <div class="form__row">
        <label for="name">Name: </label>
        <input formControlName="name"  id="name" />
        <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
            <div *ngIf="name?.errors?.['required']" class="error">This field is required</div>
        </div>
    </div>
    <div class="form__row">
        <label for="lastname">Last name: </label>
        <input formControlName="lastname" id="lastname">
        <div *ngIf="lastname?.invalid && (lastname?.touched || lastname?.dirty)">
            <span *ngIf="lastname?.errors?.['required']" class="error">This field is required</span>
            <span *ngIf="lastname?.errors?.['minlength']" class="error">Minimum 2 characters required</span>
        </div>
    </div>
</form>

<div>
    <h2>debug:</h2>
    <div>name field errors: {{ name?.errors | json}}</div>
    <div>lastname field errors: {{ lastname?.errors | json}}</div>
</div>